.container-page {
  margin: 0 auto;
  margin-block: 2.5%;
  height: 85vh;
  width: 70%;
  min-width: 800px;
  background-color: rgba(255, 255, 255, 0.614);
  border-radius: 20px;
  box-shadow: 2px 5px 10px 1px black;
  backdrop-filter: blur(5px);

  &__top {
    display: flex;
    justify-content: space-between;
    height: 300px;
  }
}

.add-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  margin-right: 60px;

  &__balance-container {
    color: rgb(72, 0, 160);
    font-size: 25px;
  }

  &__transaction-history, &__new-card-form  {
    border-radius: 20px;
    background-color: #630186;
    font-size: 15px;
    color: #fff;
  }

  &__transaction-history:hover , &__new-card-form:hover  {
    background-color: #8d04be;
  }

  &__new-card-form {}
}

.add-form-modal {
  position: fixed;
  top: 0;
  width: 100%;
  // height: 100%; /* Розширити на весь екран */
  // background: rgba(135, 65, 147, 0.199); /* Фон з прозорістю */
  backdrop-filter: blur(5px); /* Розмиття фону */
  border-radius: 5px;
  z-index: 999; 
}

.turn-back {
  padding-inline: 9px;
  color: black;
  background-color: white;
  border-color: #630186;
  margin-left: 10px;
  margin-top: 5px;
}
