.container-page {
  margin: 0 auto;
  margin-block: 2.5%;
  height: 85vh;
  width: 70%;
  min-width: 800px;
  background-color: rgba(255, 255, 255, 0.614);
  border-radius: 20px;
  box-shadow: 2px 5px 10px 1px black;
  backdrop-filter: blur(5px);

  &__top {
    display: flex;
    justify-content: space-between;
    height: 300px;
  }
}

.add-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-right: 60px;

  &__balance-container {
    color: #333;
    font-size: 25px;
    align-items: center;
    font-weight: normal;

    h3 {
      font-weight: normal;
    }
  }

  &__transaction-history,
  &__new-card-form {
    border-radius: 20px;
    background-color: #630186;
    font-size: 15px;
    color: #fff;
  }

  &__transaction-history:hover,
  &__new-card-form:hover {
    background-color: #8d04be;
  }
}

.balance-window {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px rgb(72, 0, 160) solid;
  font-size: 20px;
  border-radius: 10px;
  font-weight: normal;
  box-shadow: 0px 0px 4px 2px rgba(168, 0, 187, 0.5);
  padding: 5px 15px;
  margin-left: 10px;
}

.add-form-modal {
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  /* Розмиття фону */
  border-radius: 5px;
  z-index: 999;
}

.turn-back {
  padding-inline: 9px;
  color: black;
  background-color: white;
  border-color: #630186;
  margin-left: 10px;
  margin-top: 5px;
}

.history-transaction {
  height: 50%;
  color: #333;
  font-weight: bold;
  bottom: 0;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(252, 252, 252, 0.665);
  box-shadow: 1px 2px 20px 1px rgb(108, 0, 137);
  border-radius: 20px;
  position: relative;

  & p {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    // width: 100%;
  }
}

.no-cards {
  margin-top: 25%;
}